*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #414145;
    font-family: 'Consolas', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.container-left{
    grid-column: 1/3;
    width: 100%;
    height: 100%;
}

.container-left .commands{
    width: 100%;
    height: 40%;
    border: 2px solid rgba(0, 0, 0, 0.377);
    border-radius: 5px;
}

.container-left .commands > .title-commands{
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
}

.container-left .commands > li{
    margin-left: 12px;
    margin-bottom: 2px;
    font-size: 1.12rem;
    list-style: none;
}

.container-left .commands > li > span{
    font-size: 0.95rem;
}

.container-left .text-box{
    width: 100%;
    height: 60%;
    margin-top: 5px;
}

.container-left .text-box > .text_box{
    width: 100%;
    height: 98%;
    font-size: 1.2rem;
    background: #414145;
    border: 2px solid rgba(0, 0, 0, 0.384);
    border-radius: 15px;
}

.container-center{
    grid-column: 3/8;
}

.container-center .title{
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
}

.container-center .img{
    width: 100%;
    height: 380px;
}

.container-center .img > img{
    width: 85%;
    height: 95%;
    margin: 10px 60px;
}

.container-center .container-btn{
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container-center .container-btn > .btn-files,
.container-center .container-btn > .btn-apps,
.container-center .container-btn > .btn-sites,
.container-center .container-btn > .btn-contacts{
    border-radius: 15px;
    margin: 15px auto;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.781);
    background: transparent;
    transition: 0.5s;
}

.container-center .container-btn > .btn-files:hover,
.container-center .container-btn > .btn-apps:hover,
.container-center .container-btn > .btn-sites:hover,
.container-center .container-btn > .btn-contacts:hover{
    background: rgba(0, 0, 0, 0.671);
    border: none;
    color: #fff;
    transition: 0.5s;
}

.container-center .container-main-btn{
    width: 100%;
    height: 90px;
}

.container-center .container-main-btn > .btn-escuchar{
    border-radius: 15px;
    margin: 15px 250px;
    font-size: 1.8rem;
    height: 55px;
    width: 350px;
    border: 2px solid rgba(0, 0, 0, 0.781);
    background: transparent;
    transition: 0.5s;
}

.container-center .container-main-btn > .btn-escuchar:hover{
    background: rgba(0, 0, 0, 0.671);
    border: none;
    color: #fff;
    transition: 0.5s;
}

.container-right{
    grid-column: 8/-1;
}

.container-right .container-btn-add{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.container-right .container-btn-add > .btn-languages-mx,
.container-right .container-btn-add > .btn-languages-us,
.container-right .container-btn-add > .btn-add-pages,
.container-right .container-btn-add > .btn-add-apps,
.container-right .container-btn-add > .btn-add-files,
.container-right .container-btn-add > .btn-add-contacts{
    width: 155px;
    height: 40px;
    margin-left: 6px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.781);
    background: transparent;
    transition: 0.5s;
}

.container-right .container-btn-add > .btn-languages-mx:hover,
.container-right .container-btn-add > .btn-languages-us:hover,
.container-right .container-btn-add > .btn-add-pages:hover,
.container-right .container-btn-add > .btn-add-apps:hover,
.container-right .container-btn-add > .btn-add-files:hover,
.container-right .container-btn-add > .btn-add-contacts:hover{
    background: rgba(0, 0, 0, 0.671);
    border: none;
    color: #fff;
    transition: 0.5s;
}

.btn{
    width: 185px;
    height: 30px;
    font-size: 1rem;
}
